<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Key Stage 2</title>
</head>
<body class="keystage3-bg">
    <div class="center-wrapper">
    <div class="home-container">
        <h1 class="welcome-title">Welcome to Key Stage 3</h1>
        <div class="button-grid">
            <a href="/KS3-SG.html" class="home-btn">Start Game</a>
            <button class="home-btn">Options</button>
            <a href="/progress3.html" class="home-btn">Progress</a>
            <a href="keystage-selection.html" class="home-btn">Leave</a>
        </div>
    </div>
</body>
</html>
