<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Key Stage Selection</title>
</head>
<body>
    <div class="center-wrapper">
        <div class="keystage-container">
            <h1>Welcome, Choose Your Key Stage</h1>
            <p>Select the appropriate Key Stage to continue your learning journey.</p>
            <div class="keystage-buttons">
                <a href="home-keystage1.html" class="keystage-btn">Key Stage 1</a>
                <a href="home-keystage2.html" class="keystage-btn">Key Stage 2</a>
                <a href="home-keystage3.html" class="keystage-btn">Key Stage 3</a>
                <a href="home-keystage4.html" class="keystage-btn">Key Stage 4</a>
            </div>

            <div class="keystage-buttons">
                <!-- Updated logout form -->
                <form action="/logout" method="POST" style="display: inline;">
                    <button type="submit" class="keystage-btn">Log out</button>
                </form>
            </div>
        </div>
    </div>

    <script src="../public/js/scripts.js"></script>
</body>
</html>